.clientes-insert{
    padding-top: 1%;
    padding-left: 30%;
    padding-right: 30%;
}
.text-logo{
    padding-left: 30%;
    padding-right: 30%;

}
.btn-cadastrar{
    padding-left: 47%;
    padding-right: 30%;

}
.formulario{
    padding-top: 1%;
}
